<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ .Summary }}">

		{{ block "styles" . }}
		{{ $sass := resources.Get "styles/main.sass" }}
		{{ $style := $sass | resources.ToCSS }}
		<link rel="stylesheet" href="{{ $style.Permalink }}" preload>
		{{ end }}

		<title>{{ block "title" . }}
			{{ .Title }}
		{{ end }}</title>
	</head>
	<body>
		<nav>
			<ul>
				{{ range .Site.Menus.Navbar }}
				<li class="nav-item">
					<a href="{{ .URL }}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
		</nav>
		<!-- Code that all your templates share, like a header -->
		{{ block "main" . }}
		<!-- The part of the page that begins to differ between templates -->
		{{ end }}
		{{ block "footer" . }}
		<!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
		<footer>
			Fediverse: <a rel="me" href="https://thekitty.zone/@schrottkatze">@schrottkatze@thekitty.zone</a><br />
			Matrix: @obsidianical:matrix.org<br />
			Mail: contact at schrottkatze dot de<br />
		</footer>
		{{ end }}
	</body>
</html>
