{{ define "main" }}
	<h2>{{ .Title }}</h2>
	<div>{{ .Content }}</div>
	{{ range .Pages }}
		<a class="post" href="{{ .Permalink }}">
			<h3>{{ .Title }}</h3>
			{{ .Summary }}
		</a>
	{{ end }}
{{ end }}
