{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "main" }}
<main>
	<header class="homepage-header">
		{{ with .Params.subtitle }}
		<span class="subtitle">{{.}}</span>
		{{ end }}
	</header>
	<div class="homepage-content">
		<!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
		{{.Content}}
	</div>
	<div>
		{{ range first 10 .Site.RegularPages }}
		{{ .Render "summary"}}
		{{ end }}
	</div>
</main>
{{ end }}
