@font-face 
  font-family: 'Atkinson Hyperlegible'
  src: url('../fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Regular-102.ttf')
  font-display: swap
@font-face 
  font-family: 'Atkinson Hyperlegible'
  src: url('../fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Bold-102.ttf')
  font-weight: bold
  font-display: swap
@font-face 
  font-family: 'Atkinson Hyperlegible'
  src: url('../fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Italic-102.ttf')
  font-style: italic
  font-display: swap
@font-face 
  font-family: 'Atkinson Hyperlegible'
  src: url('../fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-BoldItalic-102.ttf')
  font-weight: bold
  font-style: italic
  font-display: swap
