@import theme

body, html
  margin: 0
  padding: 0

html
  background-color: $bg

body
  max-width: 700px
  margin: 0 auto
  font-family: 'Atkinson Hyperlegible', sans-serif
  color: $fg

img
  max-width: 700px

@media only screen and (max-width: 600px)
  body
    max-width: none 
    margin: 0 1rem 

h1, h2, h3, h4, h5, h6
  color: $fg_lighter
  margin: 0

h2
  margin-bottom: 1.2rem

p
  font-size: 1.15rem

nav
  padding: 1.5rem
  margin-bottom: 0.75rem
  ul
    margin: 0
    padding: 0
    list-style-type: none
    display: flex
    justify-content: left
    gap: 1.5rem
    li.nav-item
      display: block
      a
        font-size: 1.35rem
        text-decoration: none
        color: $fg
        &:hover
          color: $fg_darker
          text-decoration: underline

a
  color: $link
  &:visited
    color: $link_visited
  &.post
    display: block
    color: $fg_darker
    margin: 0.666rem 0
    padding: 1.5rem 1rem
    border-radius: 0.5rem
    background-color: $bg_darker
    text-decoration: none
    border: 3px solid $bg_darker
    transition: border-color 0.075s
    h3
      font-weight: normal
      color: $fg
      font-size: 1.5rem
      margin-top: 0
      margin-bottom: 0.75rem
    &:hover
      border: 3px solid $bg_lighter
      transition: none

footer
  color: $fg_darker
  font-size: 1rem
  font-style: italic
  margin: 2rem 1rem
