{{ define "styles" }}
	{{ $sass := resources.Get "styles/main.sass" }}
	{{ $style := $sass | resources.ToCSS }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "title" }}
	{{ .Title }}
{{ end }}

{{ define "main" }}
<main>
	<div class="homepage-content">
		<!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
		{{.Content}}
	</div>
	<div>
		{{ range first 10 .Site.RegularPages }}
		{{ .Render "summary"}}
		{{ end }}
	</div>
</main>
{{ end }}
